@import './components/';
@import './variables/';

* {
  margin:0;
  padding:0;
}

html,
body,
article,
aside,
footer,
nav,
section,
time {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
}

#root,html,body {
  height: 100%;
}

a,button,
[type="button"],
[type="submit"],
[role="button"] {
  cursor: pointer;
}

a {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

.App {
  width:fit-content;
  margin: 20% auto;
  padding: 30px;
  border: 1px solid $gray;
  border-radius: 10px;
}

.Titulo {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase; 
  padding: 10px 0;
  color: $title;

  &--subrayado {
    border-bottom: 6px solid $green;
  }


}


